/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */

.gwt-TabLayoutPanelContentContainer {
    border-width: 0px!important;
    padding: 0px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    border-width: 0px!important;
    padding: 0px;
}


/** this is how we position the menu **/
.menuPosition
{
	/** color: threeddarkshadow; **/
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/** terrible hack for mobile rendition, smaller images, more whitespace, so skip menu bar at top when displaying background image **/
.addMenuBuffer
{
	margin-top: 140px;
}


/** this is how we style the popups that show when you hover over a menu item #85126b **/
.popupStyle
{
	/*margin-left: 500px;
	margin-top: 160px;*/
	float: right;
	max-height: 400px;
	max-width: 500px;
	opacity: 0.98;
	color: #575757;
}

.popupStyle:HOVER
{
	/*color: black!important;
	  background-color: white;*/
}



.popupSlot
{
	/*margin: auto;*/
}

/** coloring etc for our menu links **/
.simpleAnchor
{
	float: right;
	color: #575757;
	text-decoration: none;
	margin-right: 20px; 
	/*border: 1px solid #85126b;*/
	text-align: center;
	background-color: white;
	height: 2em;
}

.simpleAnchor:HOVER
{
	/*background-color: #85126b;*/
	color: #764ca6!important;
	text-decoration: underline;
}

.simpleAnchor:VISITED
{
	color:#575757;
}

/** controller styling for background images **/
.playerButton
{
	margin-right: 10px;
	float: left;
}

.playerControls
{
	width: 150px;
	margin-left: 10px;
	margin-top: 60px;
}

/** Dull Images**/
.dullAnimation
{
    
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 7;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 7;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    from {filter: grayscale(0%);-webkit-filter: grayscale(0%);}
    to {filter: grayscale(100%);-webkit-filter: grayscale(100%);}
}

/* Standard syntax */
@keyframes example {
    from {filter: grayscale(0%);-webkit-filter: grayscale(0%);}
    to {filter: grayscale(100%);-webkit-filter: grayscale(100%);}
}